// colors variables
// متغيرات الالوان

// الاساسية
// main
    $background:#f0f2f5;
    $cards-background: #E3ECF3;
    $yellow: hsl(43, 100%, 53%);
    $light-yellow: hsl(54, 100%, 65%);
    $blue:#333366;
    $light-blue:#7890A8;
// accents
// الفرعية
    $blue-accent:#8080FF;
    $green-accent: hsl(105, 86%, 65%);
    $red-accent: hsl(0, 93%, 67%);
    $grey-accent:#BABDC7;
// basic
    $white: #ffffff;
    $off-white:#F6F6F6;
    $black: hsla(0, 0%, 13%, 0.133);
// shadows
// الظل
    $primary:  #F7D38B;
    $secondary: rgba(172, 196, 219, 0.71)

   