// Package.scss
@use '../utils' as *;
 
.package{
    direction: rtl;
    background-color: $background;
    padding-block: rem(150);

    h3{
        margin-inline-start: rem(80) ;
        margin-bottom: rem(15);
    }

    &__container{
        margin-inline: rem(76) ;
        padding: rem(50) rem(100);
        height:fit-content;
        background-color: $white;
        border-radius: 25px;

     @include medium-and-smaller{
        margin-inline: rem(30) ;
        padding-inline: rem(30);
     }

        &--image{
            img{
            width: 500px;
            height: 300px;
            border-radius: 25px;
       } }
       &--info{
        p{
            font-size: clamp(0.625rem, 0.405rem + 0.939vw, 1.25rem);
        }
       }
    }
}