
@use '../utils/' as *;

.reset{
    display: grid;
    padding: rem(70) rem(100);
    height: 100%;
    background-color: $background;
    justify-content: center;
    text-align: center;


    &__container{
        width: 75vw;
        height: fit-content;
        background-color: white;
        border-radius: 45px;
        padding-inline: rem(65);
        padding-block: rem(30);

        &--img{
            margin-bottom: rem(26);
        }

        &--title{
            margin-bottom: rem(26);

        }

        &--content{
            margin-bottom: rem(25);
        }

        &--form{
            display: flex;
            flex-direction: column;
            place-items: center;

            &-feild{
                margin-bottom: rem(30);

            }
            button{
                margin-bottom: rem(30);
            }
        }


    }
}
