/* Profile.scss */
@use '../utils' as *;

.profile {
  padding-block: rem(75) rem(100);
      
      @media screen and (min-width: 601px) {
        padding-block: rem(100);
      }
      @include min-width(medium){
        padding-block: rem(150);
        padding-inline: rem(120);
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

  &__left-column {
    direction: rtl;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: fit-content;
    padding-inline-start: rem(140);
    margin-block-end: rem(30);
    border-right: 2px solid $blue-accent;
  
    img{
      width: rem(200);
      padding-bottom: rem(15);
    }

    button{
      margin-block: rem(30) ;
    }
  }
  &__joined-on{
    width: 94%;
    padding-block-end: 15px;
    margin-block-end: 15px;
    text-align: center;
    border-bottom: solid $light-blue 2px;
  }
 
  &__content{
    font-size: rem(19);
  }

  &__right-column{
    padding-inline: rem(30);

    &--services{
        display: grid;

        @media screen and (min-width: 601px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        }

        @include min-width(medium){
            grid-template-columns: 1fr 1fr;
        }
    }
}

}