@use '../utils/'as*;

.sidebar {
    padding-top: 150px;
    background-color:$background ;
    display: flex;
    flex-direction: column;

    &__menu{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
}

.container {
    background-color: white;
    border-radius: 50px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 700px;
}

.settings {
}

.options {
    flex: 1;
}

.options__list {
    display: flex;
    flex-direction: column;
}

.options__list li {
    margin-bottom: 10px;
}
